body {
	margin: 3rem auto;
	padding: 0 1rem;
	font-family: "メイリオ";
	max-width: 55rem;
	line-height: 2;
}
h1 {
	margin: auto 0 2rem;
	font-size: 1.5rem;
}
time {
	font-size: .8rem;
	color: #666;
}

h2 {
	font-size: 1rem;
	font-weight: bold;
	line-height: 1;
}
/*
A element style
*/
a {
	color: #000;
	text-decoration: none;
}
a:link {
	color: #000;
}
a:visited {
	color: #000;
}
a:hover,
a:active {
	color: #000;
	text-decoration: underline;
}

/*
Article contents
*/
article {
	margin-bottom: 4rem;
}
article a {
	text-decoration: none;
}
article a:link {
	color: royalblue;
	text-decoration: underline;
}
article a:visited {
	color: mediumvioletred;
}
article a:hover,
article a:active {
	color: royalblue;
	text-decoration: underline;
}
/*
Footer contents
*/
footer {
	font-size: .8rem;
}
footer a {
	font-size: 1rem;
	font-weight: bold;
}
footer time {
	font-weight: normal;
}
