body {
	margin: 3rem auto auto;
	padding: 0 1rem;
	font-family: "メイリオ";
	max-width: 55rem;
	line-height: 2;
}
h1 {
	margin: auto 0 2rem;
	font-size: 150%;
}
time {
	font-size: 80%;
	color: #666;
}

h2 {
	font-size: 100%;
	font-weight: bold;
	line-height: 1;
}
/*
A element style
*/
a {
	color: #000;
	text-decoration: none;
}
a:link {
	color: #000;
}
a:visited {
	color: #000;
}
a:hover,
a:active {
	color: #000;
	text-decoration: underline;
}

ul a {
	text-decoration: none;
}
ul a:link {
	color: royalblue;
	text-decoration: underline;
}
ul a:visited {
	color: mediumvioletred;
}
ul a:hover,
ul a:active {
	color: royalblue;
	text-decoration: underline;
}