body {
	margin: 3rem auto;
	padding: 0 1rem;
	font-family: "メイリオ";
	max-width: 55rem;
	line-height: 2;
}

time {
	font-size: .8rem;
	color: #666;
}

h2 {
	font-size: 1rem;
	font-weight: bold;
	line-height: 1;
}
/*
A element style
*/
a {
	color: #000;
	text-decoration: none;
}
a:link {
	color: #000;
}
a:visited {
	color: #000;
}
a:hover,
a:active {
	color: #000;
	text-decoration: underline;
}

/*
Header contents
*/
.head_nav {
	margin: auto 0 2rem;
	padding: 0;
	display: flex;
	list-style: none;
	font-size: .8rem;
	color: #666;
}
.head_nav li:first-child {
	margin-right: auto;
	color: #000;
}
.head_nav li a {
	padding-right: 15px;
	padding-left: 15px;
	border-right: 1px solid #ccc;
}
.head_nav li:first-child a {
	padding-left: 0;
}
.head_nav li:first-child a,
.head_nav li:last-child a{
	border: none;
}
h1 {
	font-size: 1.5rem;
}
.head_nav img {
	margin-right: 3px;
	width: 16px;
	vertical-align: middle;
}
/*
Article contents
*/
article {
	margin-bottom: 4rem;
}
article a {
	text-decoration: none;
}
article a:link {
	color: royalblue;
	text-decoration: underline;
}
article a:visited {
	color: mediumvioletred;
}
article a:hover,
article a:active {
	color: royalblue;
	text-decoration: underline;
}
/*
Footer contents
*/
footer {
	font-size: .8rem;
}
footer a {
	font-size: 1rem;
	font-weight: bold;
}
footer time {
	font-weight: normal;
}
